---
title: GiveCampus University - Giving Form
---

<header class="app-header">
  <h1 class="app-logo">GiveCampus University</h1>
  <div class="app-header__mobile-menu"><span></span></div>

  <nav class="navigation">
  </nav>
</header>

<main class="container">
  <!--
  <header class="make-a-gift-header">
    <h2>Make a Gift</h2>
    <p>Make a contribution today and help give back to GiveCampus University.</p>
  </header>
  -->
  <iframe title='Giving Form' width='100%' height='100%' src='http://localhost:3000/campaigns/305/donations/new?iframe=true' frameborder='0'></iframe>
</main>
